<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/addactor}" th:object="${actorobject}" method="post">
    <input type="hidden" th:field="*{id}">
    <span th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}"></span>
    <input type="text" th:field="*{realName}">
    <input type="submit" value="Add">
</form>
</body>
</html>